body {
    font-family: Arial, sans-serif;
    background: #f4f4f4;
    padding: 30px;
}

.container {
    background: white;
    max-width: 700px;
    padding: 20px;
    border-radius: 10px;
}

input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

img {
    width: 200px;
    border: 1px solid #ddd;
}

.card {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 10px;
}